//
// Color System
//
$cl-main-heading: #1e293b;
$cl-other-heading: #334155;
$cl-brand-red: #b91c1c;
$cl-brand-gold: #feca1b;

$white: #fff !default;
$black: #070d1a !default;

$neutral-gray-50: #f9fafb !default;
$neutral-gray-100: #f3f4f6 !default;
$neutral-gray-150: #e5e7eb !default;
$neutral-gray-200: #94a3b8 !default;
$neutral-gray-250: #646471 !default;
