//
// Color System
//
$cl-main-heading: #1e293b;
$cl-other-heading: #334155;
$cl-brand-red: #b91c1c;
$cl-brand-gold: #feca1b;

$white: #fff !default;
$black: #070d1a !default;

$neutral-gray-50: #f9fafb !default;
$neutral-gray-100: #f3f4f6 !default;
$neutral-gray-150: #e5e7eb !default;
$neutral-gray-200: #94a3b8 !default;
$neutral-gray-250: #646471 !default;

$cl-pokemon-type: (
  normal: "#e0f2fe",
  // light blue
  fire: "#9a3412",
  // orange
  fighting: "#991b1b",
  // red
  water: "#dbeafe",
  // blue
  grass: "#065f46",
  // green
  poison: "#6b21a8",
  // purple
  electric: "#854d0e",
  // yellow
  ground: "#fef3c7",
  // amber
  rock: "#d1fae5",
  // emerald
  bug: "#ecfccb",
  // lime
  dragon: "#e0e7ff",
  // indigo
  ghost: "#ede9fe",
  // violet
  dark: "#f5f5f4",
  // warm gray
  fairy: "#9d174d",
  // pink
  steel: "#f1f5f9",
  // blue gray
  psychic: "#ffe4e6",
  // rose
  ice: "#cffafe",
  // cyan
  flying: "#fae8ff",
  // fuchsia
  typeless: "#f4f4f5",
);
